* {
  box-sizing: border-box;
}


body {
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'Poppins', sans-serif;
  
 
}
p{
  margin: 0;
}

.App {
  background-color: #FFFFFF;
  width: 34.4rem;
  height: 53.3rem;
  margin: 2rem;
  border-radius: 8.95px;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}